#custome_contextmenu {
  position: relative;
  top: 100px;
  border-radius: 2rem;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0px 0px 3px gray;
  background: #f2f2f2;
  line-height: 4;
  vertical-align: middle;
  text-align: center;
  text-shadow: -1px -1px 1px darkgray;
  text-decoration: underline;
}
.context_menu {
  display: none;
  position: absolute;
  border-radius: 0.4rem;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0px 0px 2px gray;
  z-index: 1;
  min-width: 50px;
  background-color: white;
}
.context_menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0.4rem;
  padding: 0 0.5rem;
}
.context_menu ul li {
  line-height: 1.4;
}
.context_menu ul li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}